body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: 100%;
}
.hour {
    transition: margin-top 1s;
}
#time-container {
    position: relative;
}
textarea {
background: transparent;
border: none;
resize: none;
color: #000000;
border-left: 1px solid black;
padding: 10px;
}

#time-text-box {
    background-color: #06aed5;
    color: whitesmoke;
    border-radius: 1rem 0em 0em 1rem;
}

.description {
white-space: pre-wrap;
}

.time-block {
border-radius: 15px;
}

.row {
border-top: 1px solid white;
}

.hour {
background-color: #ffffff;
color: #000000;
border-top: 1px dashed #000000;
}

.past {
background-color: #ff4f4f;
color: white;
}

.present {
background-color: #31e734;
color: white;
}

.future {
background-color: #46ddff;
color: white;
}

.saveBtn {
border-left: 1px solid black;
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
background-color: #06aed5;
color: white;
}

.saveBtn:hover {
    background-color: greenyellow;
}

.saveBtn i:hover {
font-size: 20px;
transition: all 0.3s ease-in-out;
}
